# Node.js
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Dependency directories
bower_components/
jspm_packages/

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env.local
.env.development.local
.env.test.local
.env.production.local

# VSCode directories
.vscode/
.idea